@model User
@{
    ViewData["Title"] = "Профиль пользователя";
}

<div class="card" style="width: 18rem;">
    <img src="@Model.AvatarUrl" class="card-img-top" alt="Аватар">
    <div class="card-body">
        <h5 class="card-title">@Model.LastName @Model.FirstName</h5>
        <p class="card-text">@Model.Email</p>
    </div>
</div>
